header {
	font-family: helvetica; 
	background-color: black;
	color: white;
	padding-left: 50px; 
	margin-bottom: 0px;
}

header h1  {
	font-size: 45px;
	padding-top: 0px; 
	margin-top: 5px; 
	padding-left: 30px; 
	margin-bottom: 0px; 
}

header h3 {
	font-size: 11px; 
}

div.header {
	display: flex;
}

header ul:nth-of-type(1) {
	display: flex; 
	padding-left: 0px; 
}

ul {
	list-style: none; 
}

header ul img {
	width: 70px;
	height: 50px;
}

h3.reclame {
	font-family: helveticaneue; 
	font-size: 90%;
	text-align: center;
	background-color: lightgrey; 
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bathbomb1 {
	position: relative;
	align-items: center;
}

div.bathbomb1 img {
	width: 360px; 
}


.textbathbomb1 {
	position: absolute;
	color: white; 
	padding-top: 0px; 
	margin-bottom: 10px;
	text-align: center;
	padding-left: 30px; 
	margin-top: -130px; 
}

div.textbathbomb1 h1 {
	margin: -15px;
	font-family: lush; 
	font-size: 20px; 
}

div.textbathbomb1 p {
	font-family: helveticaneue; 
}

main h1 {
	padding-top: 0px; 
	font-family: helvetica; 
}

div.product1 img {
	width: 150px;
	height: 150px;
}

div.product1 {
	display: flex; 
}

section.reclame1 {
	font-size: 10px; 
	font-family: helvetica; 
	background-color: lightgrey; 
	text-align: center;
	margin-bottom: 20px;
	margin-right: 10px;

}

section.reclame1 h2 {
	font-family: helveticaneue; 
	margin-top: 70px; 
}

section.bathbomb2 figcaption {
	font-size: 12px; 
	font-family: helveticaneue; 
}

section.bathbomb3 figcaption {
	font-size: 12px; 
	font-family: helveticaneue; 
}

section.bathbomb3 img {
	width: 150px; 
	height: 150px; 
}

section.bathbomb4 {
	position: relative;
	align-items: center; 
}

.textbathbomb4 {
	position: absolute;
	color: white; 
	padding-top: 0px; 
	margin-bottom: 10px;
	text-align: center;
	padding-left: 0px; 
	margin-top: -250px; 
}

section.bathbomb4 img {
	width: 120px;
	height: 250px;

}

div.product2 {
	display: flex; 
}

div.textbathbomb4 h1 {
	font-size: 20px;
	color: black; 
}

div.textbathbomb4 p {
	color: black; 
}


div.irl {
	display: flex; 
}

section.textirl {
	font-family: helvetica; 
}

section.imgirl img {
	width: 180px;
	height: 180px;
}







